<h1>All Groomers</h1>
	<a href="/dog_groomers/new">New Dog Groomer</a>

<% @groomers.each do |groomer| %>
	<h3 style='font-weight: bold'><%= groomer.name %></h3>
	<p>Created At: <%= groomer.created_at %></p>
<% end %>