<h1>All Groomers</h1>
	<a href="/dog_groomers/new">New Dog Groomer</a>

<% @groomers.each do |groomer| %>
	<h3 style='font-weight: bold'><%= groomer.name %></h3>
	<p>Created At: <%= groomer.created_at %></p>
<%= link_to "Update", "/dog_groomers/#{groomer.id}/edit" %>
<%= button_to "Delete #{groomer.name}", "/dog_groomers/#{groomer.id}", method: :delete %>
<% end %>