<form action='/dog_groomers' method='post'>
	<input type='hidden' name='authenticity_token' value='<%= form_authenticity_token %>'>
	
	<h3>Enter a new dog groomer:</h3>
	
	<label for='name' required>Enter a name:</label><br/>
	<input id='name' type='text' name='groomer[name]' placeholder='Name'/><br/>
	<br/>
	<div>
		<fieldset style='display: inline-block;'>
			<legend>Are they a Master Groomer?</legend>
			<div>
				<input type='radio' id='master_groomer' name='groomer[master_groomer]' value='yes'>
				<label for='master_groomer'>Yes</label>
			</div>
			<div>
				<input type='radio' id='master_groomer' name='groomer[master_groomer]' value='no' checked>
				<label for='master_groomer'>No</label>
			</div>
		</fieldset>
	</div>
	<br/>
	<label for='salon' required>Salon Name?</label><br/>
	<input id='salon' type='text' name='groomer[salon]' place='Name of Salon'><br/><br/>

	<div>
		<fieldset style='display: inline-block;'>
			<legend>Groomer Rating</legend>
			<div>
				<input type='radio' id='rating' name='groomer[rating]' value='1'>
				<label for='rating'>1</label>
			</div>
			<div>
				<input type='radio' id='rating' name='groomer[rating]' value='2'>
				<label for='rating'>2</label>
			</div>
			<div>
				<input type='radio' id='rating' name='groomer[rating]' value='3' checked>
				<label for='rating'>3</label>
			</div>
			<div>
				<input type='radio' id='rating' name='groomer[rating]' value='4'>
				<label for='rating'>4</label>
			</div>
			<div>
				<input type='radio' id='rating' name='groomer[rating]' value='5'>
				<label for='rating'>5</label>
			</div>
		</fieldset>
	</div>

	<input type='submit'>
</form>